h1 {
    text-align: center;
    font-family: 'Hachi Maru Pop', serif;
    color:rgba(69,54,47,255);
    font-size: 300%;
}

h2{
  text-align: center;
  font-family: 'Hachi Maru Pop', serif;
  color:rgba(69,54,47,255)
}

p{
  text-align: center;
  color: rgba(129,109,91,255);
  font-family: 'Caveat';
  font-size: 25px;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    border-radius: 10px;
    color: rgba(129,109,91,255);
    text-align: center;
    padding-block: 10px;
    background-color: rgba(202,178,154,255);
    font-family: 'Hachi Maru Pop', serif;
  }

  ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    text-align: center;
    border-radius: 10px;
    color: rgba(129,109,91,255);
    padding-block: 10px;
    background-color: rgba(202,178,154,255);
    font-family: 'Hachi Maru Pop', serif;
  }

  .grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap:5%;
    text-align: center;
    border: 50px solid rgba(202,178,154,255);
    color: rgba(129,109,91,255);
    border-radius: 20px;
    background-color: rgba(210,229,236,255);
    font-family: 'Hachi Maru Pop', serif;
    
}

.grid2 {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap:1%;
  text-align: center;
  border: 50px solid rgba(202,178,154,255);
  color: rgba(129,109,91,255);
  border-radius: 20px;
  background-color:rgba(177,199,162,255);
  font-family: 'Hachi Maru Pop', serif;
  
}

body{
  background-color: rgba(236,228,216,255);
  text-align: center;
}

button {
background-color:rgba(237,223,169,255);
border: rgba(237,223,169,255);
border-radius: 20px;
padding-block: 10px;
font-family: 'Hachi Maru Pop', serif;
}

a{
  color: rgba(69,54,47,255);
}

input{
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
