h1{
    margin-top: 11%;
    margin-bottom: .5%;
    font-size: 500%;
    text-align: center;
    color: rgba(129,109,91,255);
    font-family: 'Hachi Maru Pop', serif;

}
h2{
    margin-top: 3%;
    margin-left: 55%;
    color:rgba(129,109,91,255);
    font-size: 200%;
    font-family: 'Hachi Maru Pop', serif;
}

.center{
    text-align: center;
    margin-top: 1.2%;
    font-size: 260%;
}

a{
    color: rgba(103,91,84,255);
    font-family: 'Hachi Maru Pop', serif;
}


body{
    background-image: url(https://i.pinimg.com/originals/25/2d/cf/252dcfd07c021dc0d0596ce4887cc2d9.jpg);
    background-size: cover;
}


/* SCSS RGB 
--parchment: rgba(242,229,215,1);
--cashmere: rgba(231,179,158,1);
--old-copper: rgba(124,83,51,1);
--tallow: rgba(166,162,138,1);
--antique-brass: rgba(198,131,97,1);
--just-right: rgba(239,215,191,1);
--gurkha: rgba(148,144,120,1);
--crocodile: rgba(121,115,91,1);
--chestnut: rgba(182,84,76,1);
--contessa: rgba(190,116,108,1);
*/

